@font-face {
    font-family: 'Classic Console';
    src: url('ClassicConsole.woff2') format('woff2'),
        url('ClassicConsole.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

