---
---

@import "{{ site.theme }}";

h1 {
    font-family: 'Membra';
    color: red;
    height: 50px;
    white-space: nowrap;
    overflow: hidden; 
    font-size: 250%;
    position: relative;
    margin-top: -20px;
}